* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;

}
body{

}
.container{

}
/* sheard styles  */
.width{
    width: 84%;
    max-width: 1440px;
    margin: 0 auto;
}
.btn{
    border-radius: 8px;
    border: none;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    margin-top: 32px;
    cursor: pointer;

}

header{
    background-color: #ff8f0e28;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header nav .brand{
    font-size: 45px;
    color: #131313;
}
header nav ul{
    display: flex;
    gap: 20px;

}
header nav ul li{
    list-style: none; 
}
header nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
header .hero{
    text-align: center;
}
header .hero>*,
.img-details>*{
    margin-top: 24px;
}
header .hero h1{
    font-size: 64px;
    color: #131313;
}
header .hero p,
.img-details p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}
header .hero img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 50px 0;
}

.img-details h3{
    font-size: 45px;
    color: #727272;
    font-weight: 500;

}
.img-details h3 strong{
    color: #131313;
    font-weight: bold;
}
.img-details h3 strong span{
    color: #FF900E;
}
.section1{
    padding: 85px 60px;
    display: flex;
    align-items: center;
    gap: 73px;
}
.section1 .section-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    border-radius: 8px;
}

.section2{
    margin-top: 45px;
    display: flex;
    gap: 145px;
}
.section2 .section-details .section-heading h3,
.section3 .section-heading h3,
.footer-heading h3{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.section2 .section-details .section-heading p,
.section3 .section-heading p,
.footer-heading p{
    margin-top: 24px;
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.section-details .details{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-details .details div{
    border-radius: 8px;
    box-shadow: 0 6px 50px rgb(188, 187, 187);
    padding: 30px;
}
.section-details .details div h3{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}
.section-details .details p{
    margin-top: 9px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.section2 .section-img{
    position: relative;
    text-align: center;
}
.section2 .section-img img{
    position: relative;
    top: 50px;
}
.section2 .section-img h1{
    position: absolute;
    bottom: -50px;
    left: -92px;
    padding: 46px 42px;
    font-size: 65px;
    color: white;
    border-radius: 8px;
    background-color: #FF900E;
    line-height: 70px;
}
.section2 .section-img p{
    font-size: 20px;
    line-height: 46px;
    color: white;
    font-weight: 500;
}
.section3{
    margin-top: 130px;
}
.awards-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.awards-container .award{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
}
.awards-container .award h3{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
}
.awards-container .award p{
    font-size: 16px;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}
.footer-heading{
    text-align: center;
    margin-top: 180px;
}
.sponspors{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-right{
    padding: 35px;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin-top: 130px;
}
.copy-right p{
    font-size: 20px;
    color: #424242;
}